body{
    background-color: #001e4d;
    background-size: cover;
    height: 760px;
}
.container{
    padding-bottom: 20px;
    min-height: 100vh;
}

.headName{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.title{
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 1.2rem;
}
.p{
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 1.1rem;
}
#pic{
    width: 90px;
    height: 90px;
    position: relative;
    right: 40px;
    bottom: 555px;
    border-radius: 100px;
}
#picture{
    width: 370px;
    height: 250px;
    border-radius: 25px;
    position: relative;
    left: 120px;
}
.head{
    color: #fff;
    position: absolute;
    top: 230px;
    left: 620px;
    font-size: 1.2rem;
}
h3{
    color: #fff;
    position: absolute;
    top: 560px;
    font-size: 1.4rem;
}
#msg{
    text-align: center;
    color: #fff;
    display: none;
    margin-bottom: 20px;
}
#items{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1720px;
    left: 10px;
    flex-wrap: wrap;
}
.singleItem{
    cursor: pointer;
}
#details{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1200px;
    left: 450px;
    height: 0px;
    flex-wrap: wrap;
}
.card-text{
    font-size: 1rem;
    position: absolute;
    top: 470px;
    left: 70px;
}
.random{
    color: #fff;
    position: absolute;
    left: 100px;
    top: 520px;
}
h2{
    position: relative;
    top: 270px;
    left: 340px;
    font-size: 1.5rem;
}
p{
    position: relative;
    top: 40px;
    right: 40px;
}
#random-meals-container{
     position: relative;
     top: 10px;
}
.image{
    width: 250px;
    height: 250px;
    position: relative;
    left: 300px;
    bottom: 40px;
    border-radius: 20px;
}
@media only screen and (max-width: 580px){
    #picture{
        width: 180px;
        height: 180px;
        left: 15px;

    }
    #pic{
        width: 70px;
        height: 70px;
        position: absolute;
        left: 15px;
        top: 10px;
    }
    h4{
        width: 200px;
        position: absolute;
        bottom: 1010px;
        right: 245px;
    }
    .head{
        color: #fff;
        position: absolute;
        top: 230px;
        left: 240px;
        font-size: 0.7rem;
    }
    h2{
        position: relative;
        top: 220px;
        left: 60px;
        font-size: 1.2rem;
    }
    p{
        position: relative;
        top: 50px;
        right: 40px;
    }
    .image{
        width: 180px;
        height: 180px;
        position: relative;
        left: 40px;
        bottom: 10px;
        border-radius: 20px;
    }
    #details{
        justify-content: center;
        position: absolute;
        top: 1630px;
        left: 120px;
        flex-wrap: wrap;
    }
    #items{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 2140px;
        left: 10px;
        flex-wrap: wrap;
    }
    .random{
        color: #fff;
        position: absolute;
        left: 100px;
        top: 520px;
    }
    .card-text{
        font-size: 1rem;
        position: absolute;
        top: 470px;
        left: 70px;
    }
    
}