body{
    background-color: #001e4d;
    background-size: cover;
    height: 760px;
}
.container{
    padding-bottom: 20px;
    min-height: 100vh;
}

.headName{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.title{
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 1.2rem;
}
.p{
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 1.1rem;
}
#pic{
    width: 90px;
    height: 90px;
    position: relative;
    right: 40px;
    bottom: 555px;
    border-radius: 100px;
}
#picture{
    width: 370px;
    height: 250px;
    border-radius: 25px;
    position: relative;
    left: 120px;
}
h2{
    color: #fff;
    position: absolute;
    top: 230px;
    right: 30px;
    font-size: 1.2rem;
}
h3{
    color: #fff;
    position: absolute;
    top: 560px;
    font-size: 1.4rem;
}
#msg{
    text-align: center;
    color: #fff;
    display: none;
    margin-bottom: 20px;
}
#items{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1340px;
    left: 10px;
    flex-wrap: wrap;
}
.singleItem{
    cursor: pointer;
}
#details{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 800px;
    left: 450px;
    height: 0px;
    flex-wrap: wrap;
}
.card-text{
    font-size: 1rem;
    position: absolute;
    top: 470px;
    left: 40px;
}
#name1{
    font-size: 1rem;
    position: absolute;
    top: 220px;
    left: 200px;
}
#name2{
    font-size: 1rem;
    position: absolute;
    top: 220px;
    left: 370px;
}
#name3{
    font-size: 1rem;
    position: absolute;
    top: 220px;
    left: 570px;
}
#name4{
    font-size: 1rem;
    position: absolute;
    top: 220px;
    left: 770px;
}

.random{
    color: #fff;
    position: absolute;
    left: 100px;
    top: 520px;
}
#pic1{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 150px;
    top: 60px;
    border-radius: 25px;
}
#pic2{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 330px;
    top: 60px;
    border-radius: 25px;
}
#pic3{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 520px;
    top: 60px;
    border-radius: 25px;
}
#pic4{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 700px;
    top: 60px;
    border-radius: 25px;
}
.random:hover{
    color: chocolate;
}
 
@media only screen and (max-width: 580px){
    #picture{
        width: 100px;
        height: 100px;
        left: 35px;
    }
    #pic{
        width: 70px;
        height: 70px;
        position: absolute;
        left: 15px;
        top: 10px;
    }
    h2{
        color: #fff;
        position: absolute;
        top: 180px;
        right: 30px;
        font-size: 0.8rem;
    }
    h4{
        position: absolute;
        left: 2px;
        bottom: 100px;
    }
    #pic1{
        width: 100px;
        height: 100px;
        position: absolute;
        left: 01px;
        bottom: 0px;
        border-radius: 25px;
    }
    #pic2{
        width: 80px;
        height: 80px;
        position: absolute;
        left: 330px;
        top: 60px;
        border-radius: 25px;
    }
    #pic3{
        width: 80px;
        height: 80px;
        position: absolute;
        left: 520px;
        top: 60px;
        border-radius: 25px;
    }
    #pic4{
        width: 80px;
        height: 80px;
        position: absolute;
        left: 700px;
        top: 60px;
        border-radius: 25px;
    }
    #details{
        justify-content: center;
        position: absolute;
        top: 600px;
        left: 180px;
        height: 0px;
        flex-wrap: wrap;
    }
    #items{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 1140px;
        left: 10px;
        flex-wrap: wrap;
    }
    #name1{
        font-size: 1rem;
        position: absolute;
        top: 03px;
        left: 36px;
    }
    #name2{
        font-size: 1rem;
        position: absolute;
        bottom: 700px;
        left: 400px;
    }
    #name3{
        font-size: 1rem;
        position: absolute;
        top: 200px;
        left: 600px;
    }
    #name4{
        font-size: 1rem;
        position: absolute;
        top: 220px;
        left: 800px;
    }
    
    .random{
        color: #fff;
        position: absolute;
        left: 100px;
        top: 520px;
    }
    
}